*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* palette colori */

:root{
    --color-bg: #000000;
    --color-play-bar: #222222;
    --color-text-red: #cc2227;
    --color-text-white: #ffffff;
    --color-icon-green: #4bc800;
    --color-bg-end-meeting: #4a4a4a;
    --color-bg-transparent: #00000066;
}

body{
    background-color: var(--color-bg);
    color: var(--color-text-white);
    font-size: 1.5em;
    height: 100vh;
}

/* utility */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
/* nav bar */
.nav-bar{
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: var(--color-bg);
}
.nav-bar div{
    background-color: var(--color-bg-end-meeting);
    border-radius: 15px;
    padding: 10px;
    margin: 0 5px;
}   
/* main */
.main{
    width: 100%;
    height: calc(100vh - 180px);
    justify-content: center;
    overflow-y: scroll;
}

.card{
    width: calc(100vw / 7 - 20px);
    height: calc((100vw / 7 - 20px)) / 2;
    padding: 30px 5px;
    position: relative;
}
.mic{
    font-size: 0.7em;
    position: absolute;
    bottom: 34px;
    padding: 10px;
    background-color: var(--color-bg-transparent);
    color: var(--color-text-white);
}

img{
    width: 100%;
}

/* footer  */

.play-bar{
    height: 80px;
    width: 100%;
    background-color: var(--color-play-bar);
    justify-content: space-between;
    align-items: center;
}
.left-bar{
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
.left-bar > div{
    padding: 0 10px;
}
.center-bar{
    justify-content: center;
    align-items: center;
}
.right-bar{
    background-color: var(--color-bg-end-meeting);
    color: var(--color-text-red);
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
}
.left-bar .flex{
    flex-direction: column;
    align-items: center;
}
.left-bar .flex div{
    font-size: 0.9em;
}

.center-bar .flex{
    flex-direction: column;
    align-items: center;
}

.center-bar > div{
    padding: 0 10px;
}

.center-bar .flex div{
    font-size: 0.9em;
}

.center-bar .flex > div{
    padding: 5px 0;
}

.green{
    color: var(--color-icon-green);
}